
[class="z-label"]:not([class*="z-icon-"]) {
/*     font-family: verdana; */
    font-size: 14px;
}

.banner-head {
	font-size: 30px;
	text-shadow: 2px 2px #000000;
}



.banner {
	background-color:#88a8aa;
	color: white;
	padding: 5px 15px;
}



.banner .logout{
	text-decoration: underline;
	cursor: pointer;
} 

.footer {
	background-color:#88a8aa;
	color: white;
	padding-top: 5px;
}

.footer a,.footer a:VISITED {
	color: white;	
}

.ipad2{
	background: url("/imgs/ipad2.jpg") repeat !important; 
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}


.head1{
	font-size: large;
}
.head2{
	font-size: medium;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
	font-size: 15px;
}

.fn-caption .z-caption-l{
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label{
	text-decoration: line-through;
}

.warn{
	color:red;
}

.demo-main a,.demo-main a:VISITED{
	color:#636363;
	text-decoration: underline;
	font-size: smaller;	
}

.todo-box {
	padding-right:4px;
}

.login_div{
/* 	background-color: blue;  */
}

.no-border{
	border:none;
}

.z-north, .z-south, .z-west, .z-center, .z-east {
	background: inherit;
}

.titles{
	font-size: 22px;
	color: blue;
	font-weight: bold;
}

.searchBoxes{
/* 	border: 2px solid #88a8aa; */
	 padding:5px; margin: 15px;
	font-size: 12px ; 
}


